# dependencies
/node_modules

# environment variables
.env

# logs
logs
*.log
npm-debug.log*

# database (optional - if you're using SQLite or storing data locally)
/data
*.sqlite
*.db

# IDE
.vscode/
.idea/
.DS_Store
